* {
  margin: 0;
  padding: 0;
}
body {
}
.shelf {
  width: 100vw;
  display: flex;
  gap: 10px;
  border-bottom: 10px rgb(54, 27, 16) solid;
}
.book {
  height: 400px;
  width: 50px;
  background-color: grey;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
